<!-- <div>
    <h2> {{usuario.first_name}} </h2>
</div> -->

<section class="mt-3 card">
    <div class="row">
        <figure class="col-12 col-md-3">
            <img class="img-fluid" [src]="usuario.image" [alt]="usuario.first_name">
        </figure>
        <div class="col-12 col-md-9 p-3">
            <h2 class="card-title">{{usuario.first_name}}</h2>
            <hr>
            <p class="fw-bold">First name:<span class="fw-normal">{{usuario.first_name}}</span> </p>
            <p class="fw-bold">Last name: <span class="fw-normal">{{usuario.last_name}} </span></p>
            <p class="fw-bold">Username: <span class="fw-normal"> {{usuario.username}} </span> </p>
            <p class="fw-bold">Email: <span class="fw-normal"> {{usuario.email}} </span> </p>

            <div class="d-flex gap-3">
                <a [routerLink]="['home']" class="btn btn-primary">Volver </a>
                <a [routerLink]="['/updateuser', usuario?._id]" class="btn btn-primary">Actualizar </a>
                <a (click)="deleteUsuario()" class="btn btn-primary">Eliminar </a>
            </div>

        </div>
    
    </div>
    </section>